<!doctype html>
<html lang="en">
    
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">
        
        <script type="module" src="https://connect.filethis.com/ft-connect/1.0.15/component/ft-connect.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Material+Icons&display=block" rel="stylesheet">
    </head>
    
    <body>
        <ft-connect
            style="border: solid 1px gray;"
            workflow="add"
            userAccountId="285793"
            userAccessToken="Im-4E21dE28IvgTysTITW-vw3p0ldcsqSNhJb-XUXOpE">
        </ft-connect>
    </body>
    
</html>