<!doctype html>

<html>

<head>
    <meta charset="utf-8">
    <title>&lt;ft-manage-connections-panel&gt; Demo</title>
    <script type="module" src="../ft-manage-connections-panel.js"></script>
    <script type="module" src="../../ft-dev/ft-dev.js"></script>
    <!-- TODO: Find a way to load the icons inside the components -->
    <!-- https://google.github.io/material-design-icons/#getting-icons -->
    <link href="https://fonts.googleapis.com/css?family=Material+Icons&display=block" rel="stylesheet">

    <style>
      html,
      body {
          height: 100%;
          margin: 0;
      }
    </style>
</head>

<body>
    <ft-dev>
        <ft-manage-connections-panel id="ft-manage-connections-panel"
            fake="true"
        >
        </ft-manage-connections-panel>
    </ft-dev>
</body>

</html>