<!doctype html>

<html>

<head>
    <meta charset="utf-8">
    <title>&lt;ft-institution-list&gt; Demo</title>
    <script type="module" src="../ft-institution-list.js"></script>
    <!-- TODO: Find a way to load the icons inside the components -->
    <!-- https://google.github.io/material-design-icons/#getting-icons -->
    <link href="https://fonts.googleapis.com/css?family=Material+Icons&display=block" rel="stylesheet">
    <style>
        #ft-institution-list {
            border: solid 1px gray;
        }
    </style>

</head>

<body>
    <ft-institution-list id="ft-institution-list"></ft-institution-list>
</body>

</html>