<!doctype html>

<html>

<head>
    <meta charset="utf-8">
    <title>&lt;ft-connect-to-your-account&gt; Demo</title>
    <script type="module" src="../ft-connect-to-your-account.js"></script>
    <script type="module" src="../../ft-dev/ft-dev.js"></script>
    <!-- TODO: Find a way to load the icons inside the components -->
    <!-- https://google.github.io/material-design-icons/#getting-icons -->
    <link href="https://fonts.googleapis.com/css?family=Material+Icons&display=block" rel="stylesheet">

    <style>
      html,
      body {
          height: 100%;
          margin: 0;
      }
    </style>
</head>

<body>
    <ft-dev>
        <ft-connect-to-your-account id="ft-connect-to-your-account"></ft-connect-to-your-account>
    </ft-dev>
</body>

</html>