<!doctype html>

<html>

<head>
    <meta charset="utf-8">
    <title>&lt;ft-private-and-secure&gt; Demo</title>
    <script type="module" src="../ft-private-and-secure.js"></script>
    <script type="module" src="../../ft-demo/ft-demo.js"></script>
    <!-- TODO: Find a way to load the icons inside the components -->
    <!-- https://google.github.io/material-design-icons/#getting-icons -->
    <link href="https://fonts.googleapis.com/css?family=Material+Icons&display=block" rel="stylesheet">

    <style>
        html,
        body {
            height: 100%;
            margin: 0;
        }
    </style>

</head>

<body>
    <ft-demo>
        <ft-private-and-secure id="ft-private-and-secure"></ft-private-and-secure>
    </ft-demo>
</body>

</html>