<!doctype html>

<html>

<head>
    <meta charset="utf-8">
    <title>&lt;ft-institution-list-item&gt; Demo</title>
    <script type="module" src="../ft-institution-list-item.js"></script>
    <script type="module" src="../../ft-dev/ft-dev.js"></script>
    <!-- TODO: Find a way to load the icons inside the components -->
    <!-- https://google.github.io/material-design-icons/#getting-icons -->
    <link href="https://fonts.googleapis.com/css?family=Material+Icons&display=block" rel="stylesheet">

    <style>
        html,
        body {
            height: 100%;
            margin: 0;
        }
    </style>

 </head>

<body>
    <ft-dev>
        <ft-institution-list-item id="ft-institution-list-item"
            fake="true"
        >
        </ft-institution-list-item>
    </ft-dev>
</body>

</html>